.box1 {
  background-color: green;
  width: 33%;
  height: 200px;
  float: left;
}

.box2 {
  background-color: pink;
  width: 33%;
  height: 200px;
  float: left;
}

.box3 {
  background-color: blue;
  width: 33%;
  height: 200px;
  float: left;
}

ul {
  list-style: none;
}
